@import url('https://fonts.googleapis.com/css2?&family=Share+Tech+Mono&family=Major+Mono+Display&display=swap');

:root {
  --bg: rgb(54, 49, 68);
  --div-bg: rgb(62, 48, 102);
  --text-white: #ddd;
  --border: #F1B039;
}

/* base styles */
* {
  margin: 0;
  background-color: var(--bg);
  font-family: "Share Tech Mono";
  color: var(--text-white);
}

.navbar {
  display: flex;
  background-color: var(--div-bg);
  color: var(--text-white);
  padding: 20px;
  align-items: center;
  max-width: 600px;
  height: 100px;
  margin: 0 auto;
  border-bottom: 2px solid var(--border);
}
.navbar h1 {
  font-family: "Major Mono Display";
  background-color: var(--div-bg);
  font-size: 1.8rem;
  color: #fdfdfd;
}
.navbar .links {
  color: #ddd;
  font-family: "Major Mono Display";
  background-color: var(--div-bg);
  margin-left: auto;
  margin-right: 0px;
}
.navbar a {
  font-family: "Major Mono Display";
  background-color: var(--div-bg);
  font-size: 1rem;
  color: #ddd;
  margin-left: 0px;
  margin-right: 0px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  background-color: var(--div-bg);
  color: var(--border);
}
.content {
  background-color: var(--div-bg);
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
  color: #ddd;
}

.navimg {
  max-height: 100px;
  width: auto;
  margin-right: 20px;
  background-color: var(--div-bg);
}

/* blog previews / list */
.blog-list  {
  font-family: "Major Mono Display";
  padding: 10px;
  background-color: var(--div-bg);
}

.blog-list h2 {
  padding: 10px;
  font-family: "Major Mono Display";
  background-color: var(--border);
  font-size: 1.8rem;
  color: var(--div-bg)
}

.blog-preview {
  background-color: var(--div-bg);
  font-family: "Share Tech Mono";
  padding: 20px 16px;
  margin: -2px 0;
  border: 2px solid var(--border);
}
.blog-preview:hover {
  background-color: var(--div-bg);
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-family: "Share Tech Mono";
  background-color: var(--div-bg);
  font-size: 20px;
  color: var(--border);
  margin-bottom: 8px;
}

.bloglink{
  color: var(--border);
  font-family: "Share Tech Mono";
  text-decoration: none;
}

.bloglink:hover{
  color: var(--text-white);
  font-family: "Share Tech Mono";
  text-decoration: none;
}

.blog-preview p {
  background-color: var(--div-bg);
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 610px) {
  .navimg {
    margin-right: 10px;
  }
  .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }

  .links {
    min-width: 113px;
    display: flex;
    flex-direction: column;
    padding: none;
    margin-left: 10px;
    margin-right: -px;
  }
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}